.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.input {
  display: block;
  border: none;
  cursor: text;
  outline: none;
  background-color: var(--color-secondary-transparent-2);
  color: var(--color-gray-900);
  width: 100%;
  transition: box-shadow var(--transition-fast);
}

.input:hover {
  box-shadow: inset 0 0 0 1px var(--color-gray-500);
}

.input:focus {
  box-shadow: inset 0 0 0 2px var(--color-gray-500);
}

.input::placeholder {
  font-family: var(--font-sans);
  color: var(--color-gray-500);
}

.input-sm {
  padding-block: var(--space-1);
  padding-inline: var(--space-2);
  font-size: var(--font-sm);
  border-radius: var(--radius-1);
}

.input-md {
  padding-block: var(--space-2);
  padding-inline: var(--space-3);
  font-size: var(--font-md);
  border-radius: var(--radius-2);
}

.input-lg {
  padding-block: var(--space-3);
  padding-inline: var(--space-4);
  font-size: var(--font-lg);
  border-radius: var(--radius-3);
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  cursor: pointer;
  outline: none;
  border: none;
  display: grid;
  place-content: center;
  background-color: var(--color-secondary-transparent-2);
  transition: box-shadow var(--transition-fast), background-color var(--transition-fast);
  flex-shrink: 0;
}

.checkbox:hover {
  box-shadow: inset 0 0 0 1px var(--color-gray-500);
}

.checkbox:focus-visible {
  box-shadow: inset 0 0 0 2px var(--color-gray-500);
}

.checkbox:checked {
  background-color: var(--color-primary-500);
  box-shadow: none;
}

.checkbox:checked {
  background-color: var(--color-primary-500);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  box-shadow: none;
}

.checkbox-sm {
  width: var(--space-4);
  height: var(--space-4);
  border-radius: var(--radius-1);
}

.checkbox-md {
  width: var(--space-5);
  height: var(--space-5);
  border-radius: var(--radius-1);
}

.checkbox-lg {
  width: var(--space-6);
  height: var(--space-6);
  border-radius: var(--radius-1);
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
  gap: var(--space-2);
  cursor: pointer;
  color: var(--color-gray-900);
  font-family: var(--font-sans);
  font-size: var(--font-md);
}