.btn {
    padding: var(--space-3) var(--space-4);
    border-radius: var(--radius-2); 
    transition: background-color var(--transition-speed), box-shadow var(--transition-speed), transform var(--transition-speed);
    font-weight: var(--font-weight-reg);
}

.btn:active {
    transform: scale(0.98);
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--font-white);
}

.btn-primary:hover {
    background-color: var(--primary-color-hover);
}

.btn-confirm {
    background-color: var(--confirm-color);
    color: var(--font-white);
}

.btn-confirm:hover {
    background-color: var(--confirm-color-hover);
}

.btn-error {
    background-color: var(--error-color);
    color: var(--font-white);
}

.btn-error:hover {
    background-color: var(--error-color-hover);
}