.card {
    background-color: var(--bg-color-alt);
    color: var(--font-black);
    border-radius: var(--radius-3);
    box-shadow: var(--box-shadow);
}

.card-alt {
    background-color: var(--bg-color-dark-alt);
    color: var(--font-white);
    border-radius: var(--radius-3);
    box-shadow: var(--box-shadow);
}

.error {
    background-color: var(--bg-color-error);
    border-radius: var(--radius-full);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
}