.btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: none;
  text-align: center;
  align-items: center;
  border-radius: var(--radius-3);
  transition:
    background-color var(--transition-fast),
    color var(--transition-fast),
    box-shadow var(--transition-fast),
    transform var(--transition-fast),
    border-color var(--transition-fast);
}

.btn:hover {
  box-shadow: var(--btn-shadow-hover);
}

.btn:active {
  box-shadow: var(--btn-shadow-active);
}

.btn-md {
  padding-block: var(--space-4);
  padding-inline: var(--space-6);
  font-size: var(--font-md);
  font-weight: var(--font-medium);
  font-family: var(--font-sans);
}

.btn-primary {
  color: var(--color-white);
  background-color: var(--color-primary-500);
}

.btn-primary:hover {
  box-shadow: none;
  background-color: var(--color-primary-700);
}

.btn-primary:active {
  box-shadow: none;
  background-color: var(--color-primary-900);
}

.btn-secondary {
  background-color: var(--color-bg-btn-secondary);
  color: var(--color-font-btn-secondary);
}