*, *::before, *::after { box-sizing: border-box; }

* { margin: 0; padding: 0; }

html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: var(--font-main);
    font-size: var(--font-size);
    color: var(--font-color);
    font-weight: var(--font-weight-reg);
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  text-align: left;
}

code, pre { font-family: var(--font-code); }

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    border: none;
    outline: none;
    outline-offset: -1px;
    backface-visibility: hidden;
}

textarea { resize: vertical; }

button {
    cursor: pointer;
    background: none;
    border: none;
}

.txt-l {
    text-align: left !important;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: var(--font-weight-reg);
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

hr {
    width: 100%; 
    border: none; 
    height: 1px; 
    background-color: rgba(255, 255, 255, 0.25); 
    margin: var(--space-4) 0;
}

p {
    font-weight: var(--font-weight-reg);
}

h1, h2, h3, h4, h5 {
    font-weight: var(--font-weight-bold);
}