:root {
    /* --- Tipografia --- */
    --font-main: 'Google Sans Flex', system-ui, sans-serif;
    --font-code: 'Google Sans Code', monospace;
    --font-size-sm: 0.75rem;
    --font-size: 1rem;
    --font-size-lg: 1.25rem;
    --font-weight-thin: 150;
    --font-weight-reg: 300;
    --font-weight-bold: 600;

    /* --- Cores --- */
    --primary-color: rgb(0, 100, 200);
    --primary-color-hover: rgb(0, 115, 230);
    --secondary-color: rgb(255, 255, 255);

    --confirm-color: rgb(0, 150, 0);
    --confirm-color-hover: rgb(0, 180, 0);
    --error-color: rgba(150, 0, 0, 1);
    --error-color-hover: rgb(180, 0, 0);

    --bg-color: rgb(220, 220, 220);
    --bg-color-alt: rgb(255, 255, 255);
    --bg-color-input-light: rgba(0, 0, 0, 0.1);
    --bg-color-input-dark: rgba(255, 255, 255, 0.1);
    --bg-color-dark: rgb(25, 25, 25);
    --bg-color-dark-alt: rgb(50, 50, 50);
    --bg-color-error: rgba(255, 0, 0, 0.25);

    --bg-glass-light: rgba(255, 255, 255, 0.6);
    --bg-glass-dark: rgba(0, 0, 0, 0.4);

    --font-white: rgb(255, 255, 255);
    --font-light: rgba(255, 255, 255, 0.5);
    --font-dark: rgba(0, 0, 0, 0.5);
    --font-black: rgb(0, 0, 0);
    --font-error: rgb(255, 0, 0);

    /* --- Espaçamento & Medidas --- */
    --space-1: 0.25rem;
    --space-2: 0.50rem;
    --space-3: 0.75rem;
    --space-4: 1.00rem;
    --space-5: 1.25rem; 
    --space-6: 1.50rem;
    --space-7: 1.75rem;
    --space-8: 2.00rem; 

    --radius-1: 0.25rem;
    --radius-2: 0.50rem;
    --radius-3: 0.75rem;
    --radius-4: 1.00rem;
    --radius-full: 9999px;

    /* --- Efeitos --- */
    --box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    --box-shadow-inset: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
    --box-shadow-inset-hover: inset 0 0 0 1px rgba(75, 75, 75, 1);
    --box-shadow-inset-focus: inset 0 0 0 2px rgba(75, 75, 75, 1);

    --box-shadow-alt: 0 0 1rem rgba(255, 255, 255, 1);
    --box-shadow-alt-inset: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
    --box-shadow-alt-inset-hover: inset 0 0 0 1px rgb(150, 150, 150);
    --box-shadow-alt-inset-focus: inset 0 0 0 2px rgb(150, 150, 150);

    --box-shadow-btn-inset: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
    --box-shadow-btn-inset-hover: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
    
    /* Transition focada em propriedades de cor e shadow */
    --transition-speed: 0.1s ease-in-out;
}