.w-screen { width: 100vw !important; }
.h-screen { height: 100vh !important; }

.min-w-100 { min-width: 100% !important; }
.min-h-100 { min-height: 100% !important; }

.min-h-screen { min-height: 100vh !important; }
.max-h-screen { max-height: 100vh !important; }

.w-50 { width: 50% !important; }
.w-75 { width: 75% !important; }
.w-25 { width: 25% !important; }

.square-sm { 
    width: 2rem !important; 
    height: 2rem !important; 
    display: inline-flex !important; 
    align-items: center !important; 
    justify-content: center !important; 
}

.square-md { 
    width: 2.5rem !important; 
    height: 2.5rem !important; 
    display: inline-flex !important; 
    align-items: center !important; 
    justify-content: center !important; 
}

.square-lg { 
    width: 3rem !important; 
    height: 3rem !important; 
    display: inline-flex !important; 
    align-items: center !important; 
    justify-content: center !important; 
}