.mt-1 { margin-top: 0.50rem !important; }
.mt-2 { margin-top: 0.75rem !important; }
.mt-3 { margin-top: 1.00rem !important; }
.mt-4 { margin-top: 1.50rem !important; }
.mt-5 { margin-top: 2.00rem !important; }
.mt-6 { margin-top: 3.00rem !important; }

.p-sm { padding: var(--space-1) var(--space-2) !important; }
.p-rg { padding: var(--space-2) var(--space-3) !important; }
.p-lg { padding: var(--space-4) var(--space-5) !important; }

.rad-1 {border-radius: 0.25rem !important;}
.rad-2 {border-radius: 0.50rem !important;}
.rad-3 {border-radius: 0.75rem !important;}
.rad-4 {border-radius: 1.00rem !important;}
.rounded {border-radius: 9999px !important;}

.fw-100 { font-weight: 100 !important; }
.fw-200 { font-weight: 200 !important; }
.fw-300 { font-weight: 300 !important; }
.fw-400 { font-weight: 400 !important; }
.fw-500 { font-weight: 500 !important; }
.fw-600 { font-weight: 600 !important; }
.fw-700 { font-weight: 700 !important; }
.fw-800 { font-weight: 800 !important; }

.fs-sm { font-size: var(--font-size-sm) !important; }

.w-100 { width: 100% !important; }
.h-100 { height: 100% !important;}

.no-wrap { white-space: nowrap !important; }
.wrap { white-space: wrap !important; }

.text-error { color: var(--font-error) !important; }
.font-code { font-family: var(--font-code) !important; }

.txt-left { text-align: left !important; }
.txt-right { text-align: right !important; }
.txt-center { text-align: center !important; }
.txt-end { text-align: end !important; }
.txt-start { text-align: start !important; }

.self-start { align-self: flex-start !important; }

.items-start { align-items: start !important; }
.items-center { align-items: center !important; }

.glass-dark, .glass-light, .glass {
    backdrop-filter: blur(1rem) !important;
    -webkit-backdrop-filter: blur(1rem) !important;
}
.glass-dark { 
    background-color: var(--bg-glass-dark) !important; 
    box-shadow: var(--box-shadow-alt-inset) !important;
}
.glass-light { 
    background-color: var(--bg-glass-light) !important; 
    box-shadow: var(--box-shadow-inset) !important;
}
.glass {
    background-color: transparent !important;
    box-shadow: none;
}

.bg-color { background-color: var(--bg-color) !important; }
.bg-color-alt { background-color: var(--bg-alt-color) !important; }

.row { display: flex !important; flex-direction: row !important; }
.col { display: flex !important; flex-direction: column !important; }

.hidden {display: none !important; }

.transparent { background-color: transparent !important; }

.border-light { box-shadow: var(--box-shadow-inset) !important; }
.border-dark { box-shadow: var(--box-shadow-alt-inset) !important; }

.flex { display: flex !important; }