.w-25 { width: 25% !important; }
.w-33 { width: 33.333333% !important; }
.w-50 { width: 50% !important; }
.w-66 { width: 66.666667% !important; }
.w-75 { width: 75% !important; }
.w-100 { width: 100% !important; }
.w-auto { width: auto !important; }
.w-screen { width: 100vw !important; }

.h-25 { height: 25% !important; }
.h-50 { height: 50% !important; }
.h-75 { height: 75% !important; }
.h-100 { height: 100% !important; }
.h-auto { height: auto !important; }
.h-screen { height: 100dvh !important; }

.min-w-100 { min-width: 100% !important; }
.max-w-100 { max-width: 100% !important; }

.min-h-100 { min-height: 100% !important; }
.max-h-100 { max-height: 100% !important; }

.min-h-screen { min-height: 100dvh !important; }
.max-h-screen { max-height: 100dvh !important; }

.square-sm { 
  width: 2rem !important; 
  height: 2rem !important; 
}

.square-md { 
  width: 2.5rem !important; 
  height: 2.5rem !important; 
}

.square-lg { 
  width: 3rem !important; 
  height: 3rem !important; 
}